<div>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{student.name}}
        </mat-panel-title>
        
    </mat-expansion-panel-header>
    <p>Average grade in mathematics: {{student.mathAverage}}</p>

    <p>Psychometric score: {{student.psych}}</p>


    <!------->
    <!--
<mat-form-field appearance="fill">
  <mat-label>Payment to the college</mat-label>
  <mat-select [formControl]="toppings" multiple>
    <mat-select-trigger>
      {{toppings.value ? toppings.value[0] : ''}}
      <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let topping of toppingList" [value]="topping" (ngSubmit) = "onSubmit()">{{topping}}</mat-option>
  </mat-select>

</mat-form-field>

-->

<mat-card>
  <h1>Payment to the college</h1>
  <form #cityForm = "ngForm" (ngSubmit) = "onSubmit()" >
      <div>
          <mat-form-field appearance="fill">
              <mat-label>City Selection</mat-label>
              <mat-select place-holder = "City" [(ngModel)] = "city" name = "city" required (selectionChange)="onSelect($event)">
                <mat-option *ngFor="let city of cities" [value]="city ">
                  {{city.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>       
      </div>
      <div>
         <button [disabled] = "!cityForm.form.valid"  type = "submit" mat-raised-button color="primary">confirm</button>
      </div>
  </form>

  <div>
    <button mat-raised-button
    type = "submit"
    color = "primary"
      (click) = "predict(student)">
      Predict
    </button>
    <div>{{student.pred}} </div>  
  </div>
</mat-card>


    </mat-expansion-panel>


  <!--- <h4>Payment to the college</h4>
<mat-form-field appearance="fill">
  <mat-label>Choose an option</mat-label>
  <mat-select [disabled]="disableSelect.value">
    <mat-option value="student.paid">{{student.paid}}=</mat-option>
    <mat-option value="student.paid">{{student.paid}}</mat-option>
  </mat-select>
</mat-form-field>---> 



</mat-accordion>
</div>
  
<!---     מימוש פונקציית פרדקיט. -->
<!---
<div>
<ng-container matColumnDef="Predict"></ng-container>
<th mat-header-cell *matHeaderCellDef> Predict </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button *ngIf = "!element.result" mat-raised-button 
        color="primary"
        (click) = "predict(i)"
        >
        Predict
      </button>  
      </td>
    </div>

    -->